/** Your theme modifications here **/
.image_icon{
    height:200px !important;
}
.image_product{
height: 350px;
}
.cate_product{
    display: block !important;
    height: 25px !important;
   font-size: 15px !important;
}
.cate_product:hover{
    background:#0b97c4;
    color: honeydew;
    cursor: pointer !important;
}
.image-map{
    height: 450px !important;
}

